streamlit

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-pinecone==0.2.13

pinecone>=6.0.0,<8.0.0
sqlalchemy
psycopg2-binary

pandas
matplotlib
plotly
jupyter
python-dotenv

pymupdf
python-docx